* {
	font-family: Arimo;
}

.container-fluid {  /*ВСЕ*/
	margin: 0px;
	padding: 0px;
		> * {
		margin: auto;
	}
}

.header_first_background {   /* Тянущийся хедер бекграунд */
	width: 100%;
	margin: 0px 0px;
	min-height: 94px;
	background-color: #f7f7f7;
	.header_first_front {   /* Сам хедер */
		> div {
			padding: 0px;
		}
		width: 73%;
		max-width: 980px;
		margin: auto;
		.logo {
		 	display: block;
			height: 47px;
			width: 200px;
			margin: 21px 0 0 0;
			float: left;
			}
		.number {
			margin-top: 22px;
			float: right;
			@media (max-width: 360px) {
				float: left;
				font-size: 11px;
			}
			> a {
				display: block;
				color: #767676;
				font-size: 18px;
				text-decoration: none;
				&:hover {
					color: #1db7c5;
				}
				@media (max-width: 360px) {
				font-size: 15px;
				padding-left: 10px;
				}
			}
		}
		.feedback {
			padding: 0px;
			margin: 0px;
			box-sizing: border-box;
			> a {
				@media (max-width: 360px) {
					float: left;
					margin-left: 0px;
				}
				display: block;
				height: auto;
				width: auto;
				float: right;
				font-family: Arimo;
				margin-top: 28px;
				padding: 8px 20px 7px 20px;
				background-color: #282c37;
				color: #fff;
				font-size: 15px;
				margin-left: 20px;
				box-sizing: border-box;

			}
		}
		> div .logo {
			@media (max-width: 750px) {
				padding-top: 5px;
				width: 200px;
				margin: auto;
				float: none;
			}
		}
		> div .right_header {
			@media (max-width: 750px) {
				width: 300px;
				margin: auto;
				float: none;
			}
		}
	}
	
}


div + .header_second_background,
div + .collapse {
	padding: 0px;
}


.slider {   /* Слайдер и все что к нему относится */
	height: auto;
	.images_for_slider {
		width: 100%;
		margin: auto;
		> .image {
			max-width: 1980px;
			margin: auto;
		}
	}
	.slider_navigation {
		position: relative;
		height: 2vh;
		padding-bottom: 4vh;
		margin-top: -4vh;
		> .buttons {
			width: auto;
			> ul {
				display: block;
				padding: 0px;
				width: 21vh;
				margin: auto;
				> li {
					margin: 0 0.5vh;
					cursor: pointer;
					display: inline-block;
					height: 2vh;
					width: 2vh;
					border-radius: 10vh;
					background-color: rgba(0,0,0,0.4);
					&:hover {
						background-color: #fff;
						box-shadow: 0 0 0.1vh 0.1vh #fff;
					}
				}
			}
		}
	}
}

.navigation {  /* Навигация в хедере */
	height: 80px;
	width: 67%;
	max-width: 1980px;
	border: 0px;
	padding-top: 28px;
	> .nav-border {
		height: 15px;
		width: 1px;
		margin-top: 5px;
		background-color: #424757;
	}
}

main {   /* Основное между футеро и хедером */
	max-width: 1980px;
	.menu {
		width: 100%;
		> div {
			height: 51px;
			width: 72.5%;
			float: none;
			margin: auto;
			padding: 0px;
			> ul {
				margin-top: 33px;
				padding-left: 20px;
				@media (max-width: 422px)
				{
					& {
						padding: 0px;
						> li > a {
							font-size: 12px;
						}
					}
				}
				> li {
					display: inline-block;
					font-size: 14px;
					> a {
						color: #000;
						text-decoration: none;
						&:hover {
							color: #767676;
						}
					}
				}	
			}
			div {
					display: inline-block;
					height: 5px;
					width: 5px;
					margin: 0 5px 0 16px;
					border-left: 3px solid #000;
					border-top: 3px solid white;
					border-right: 3px solid white;
					border-bottom: 3px solid white;
				}
			}
		}

		.main_content {   /* Основной контент */
		width: 72.5%;
		margin: auto;
		> div {  // Левый блок с навиацией, правый блок контента сразу
			height: auto;
			padding: 0 15px;
			&:nth-child(1) {
				padding-left: 0px;

			}
			> .catalog {   /* Каталог с товарами */
				margin-top: 4px;
				> div {
					margin: 0 0;
					padding: 0 0;
					> .js_styles {
						margin-bottom: 21px;
						float: right;
						margin-right: 3px;
						width: 242px;
						height: 380px;
						border-radius: 3px;
						border: 1px solid #e4e4e4;
						> .catalog_img {
							height: 208px;
							width: 210px;
							margin: 15px 15px 0 auto;
							background-color: #f7f7f7;
							.product_photo {
								padding-left: 8px;
								padding-top: 50px;
							}
						}
						> h3 {
							padding: 19px 15px 0px;
							font-size: 16px;
							margin: 0px;
							text-align: center;
							color: #767676;
							line-height: 24px;
						}
						> .price {
							height: 45px;
							border-top:  1px solid #e4e4e4;
							margin: 11px auto 0;
							width: 100%;
							> h2 {
							display: inline-block;
							margin: 13px 0 0 15px;;
							padding: 0px;
							font-size: 28px;
							width: 74%;
							font-weight: bold;
							}
							> form {
								width: 15%;
								display: inline-block;
								button {
									padding-top: 3px;
									height: 25px;
									float: right;
									&:focus,
									&:active {
										border: none;
										outline: none;

									}
								}
							} 
						}
					}
				}
				> div:nth-last-child(1)
				{
					width: 96.3%;
					float: right;
					height: 60px;
					> ul {
						height: 60px;
					}
				}
			}
			.menu_left {   /* Выпадающее Меню слева с прайсом */
				width: 150px;
				height: 380px;
				> div:nth-child(1) {
					padding-left: 9px;
				}
				> div:nth-child(2) {
					padding-left: 0px;
				}

				> div > .main_menu {
					padding: 0px;
					margin: -20px 0 0 -10px;
					height: 346px;
					> li {
						display: block;
						padding: 4px 0;
						list-style-type: none;
						&:nth-child(1){
							margin-top: -2px;
							padding-top: 0px;
						}
						> a {
							color: #828282;
							text-decoration: none;
							font-size: 16px;
							&:hover,
							&:focus {
							color: #000;
							}
						}
						> a:focus ~ .secondary_menu,
						> a:active ~ .secondary_menu {
							display : block;
						}
						> ul {
							list-style-type: disc;
							display:none;
							padding-left: 20px;
							> li {
									> a {
									color: #828282;
									text-decoration: none;
									font-size: 14px;
									&:hover,
									&:focus {
									color: #000;
									text-decoration: underline;
									}
								}
							}
						}
					}
				}
			}
		}

		.catalog_pages {    /* Выводим страницы под каталогом товаров */
			height: 30px;
			width: 200px;
			margin: auto;
			> .pages_list {
				padding-top: 20px;
			}
			> ul {
				padding: 10px 0 0 0;
				display: flex;
			    justify-content: space-between;
			    text-align: justify; /* IE10-, Firefox 12-21 */
			    text-align-last: justify; /* IE10-, Firefox 12-21 */
			    text-justify: newspaper; /* IE7- */
			    zoom: 1; /* IE7- */
				> li {
					display: inline-block;
	    			display: inline; /* IE7- */
	    			zoom: 1; /* IE7- */
	    			float: right;
	    			> a {
	    				text-decoration: none;
	    				color: #828282;
	    				&:hover {
	    					display: block;
	    					line-height: 18px;
	    					font-size: 18px;
	    					padding-right: 2px;
	    					transition: 0.3s;
	    					color: #000;
	    					margin: 0 -3px 0 -2px;
	    				}
	    			}
				}
			}
		}	

		.under-pages {  /* Большой текст в 2 колонки под основным контентом */
			float: right;
			padding: 0px;
			margin-bottom: 73px;
			padding-top: 20px;
			> div {
				border-top: 1px solid #777777;
				&:nth-child(1) {
					padding-top: 34px;
					padding-left: 0px;
				}
				&:nth-child(2) {
					padding-top: 34px;
					padding-right: 0px;
					> p {
						padding-left: 8px;
					}
				}
				> p {
					color: #767676;
					line-height: 22px;
					padding-left: 4px;
				}
			}
		}
	}
}


footer {   /* Весь Футер  */
	width: 100%;
	border-top: 1px solid #eaeaea;
	height: 220px;
	> .footer {
		width: 100%;
		max-width: 1980px;
		margin: auto;
		> .row {
			width: 72.5%;
			margin: auto;
			> .copyright {
				> p {
					padding: 44px 0 0 0px;
					color: #767676;
				}
			}
			> .footer_menu {   /* Меню в футере */
				padding: 0px;
				.footer_list {
					margin-top: 44px;
					padding: 0px;
					display: -webkit-box; /* Android 4.3-, Safari */
				    -webkit-box-pack: justify; /* Android 4.3-, Safari */
				    display: flex;
				    justify-content: space-between;
				    text-align: justify;
				    text-align-last: justify;
					> li {
						display: inline-block;
						> a {
							color: #4c5059;
							text-decoration: none;
							&:hover {
								color: #949494;
								transition: 0.5s;
							}
							@media (max-width: 630px)
							{
								font-size: 12px;
							}
							@media (max-width: 530px)
							{
								font-size: 7px;
							}
							
						}
					}
				}
			}
			> div {
			padding: 0px;
			}
		}
	}

}

.b-popup{     /* Все, что касается фидбека с fade-эффектом */
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: absolute;
    display: none;
    top:0px;
    .b-popup-content{
	    margin: 284px auto 0px auto;
	    max-width: 467px;
	    min-height: 576px;
	    padding: 30px 60px 0;
	    background-color: #fff;
	    > .close {
    	margin-top: -60px;
    	margin-right: -90px;
		width: 30px;
		height: 30px;
		background-color: #fff;
		opacity: 1;
		background-image: url('../img/feedback/cross.png');
		&:hover {
			background-image: url('../img/feedback/cross_2.png');
		}
		@media (max-width: 550px) {
			margin-right: -17%;
		}
   		}
	    form {
	    	h2 {
				text-align: center;
				margin: 0 0 25px 0;
				font-size: 24px;
	    	}
	    	> label {
	    		font-weight: normal;
	    		> em {
	    			color: #c61015;
	    		}
	    	}
	    	input:not([type="submit"]) {
	    		width: 100%;
	    		height: 42px;
	    		display: block;
	    		margin-bottom: 15px;
	    		border: 1px solid #c3c3c3;
	    		padding-left: 15px;
	    		&:focus {
	    			box-shadow: inset 0 0 20px 3px #baffb5;
	    			border: 1px solid #baffb5;
	    			outline: 0px;
	    		}
	    	}
	    	textarea {
	    		width: 100%;
	    		height: 141px;
	    		border: 1px solid #c3c3c3;
	    		resize: none;
	    	}
	    	.button_feedback {
	    		width: 127px;
	    		float: right;
	    		padding: 0px;
	    		color: #fff;
	    		font-size: 18px;
	    		height: 42px;
	    		background-color: #282c37;
	    		border: 0px;
	    		outline:0px;
	    	}
	    }
	}
}
